.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  padding-right: 24px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

svg.matrix {
  padding: 80px;
}

.time-matrix .axis line,
.time-matrix .axis path {
  stroke-width: 0;
}

.time-matrix .axis--y text {
  text-anchor: end;
}

.time-matrix .legend text {
  font-size: 0.7em;
}

.number {
  font-weight: bold;
  display: inline;
}

.texts {
  pointer-events: none;
}

.border-dotted {
  stroke-width: 2px;
  stroke: white;
  stroke-dasharray: 5;
}

text.active {
  fill: red;
}

.grid line {
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
