body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tooltip {
  position: absolute;
  z-index: 10;
  padding: 8px;

  background: #eceff1;
  opacity: 0.9;
  border-radius: 8px;

  visibility: hidden;
}

.big-percentage {
  font-size: 1.2em;
  fill: white;
}

text.label {
  font-size: 1.2em;
  fill: white;
}